.page_r{text-align: right;}
.content{padding-bottom: 15px}
.btn-group a{padding: 8px 14px;}
.form-fang{width: 40px;}
.form-control, select{border-radius: 0;}
.input_r{padding: 8px 16px;}
.tablecenter th,.tablecenter td,.tablecenter td input{text-align: center;}
.textleft{text-align: left!important;}